.result figcaption {
    padding: 20px;
}

/*新多出来的按钮样式*/

.result .another-button {
    background-color: #FFFFFF;
    border: 1px solid  indianred;
    border-radius: 5px;
    color:  indianred;
    height: 2.5rem;
    width: 8rem;
    text-align: center;
    outline: none;
}

input[type='button'] {
    margin: 20px 5px;
}

@media (max-width: 760px) {
    .result figcaption {
        padding: 0 20px;
    }

    figcaption p {
        -webkit-line-clamp: 2; /** 显示的行数 **/
    }

}