form {
    margin: 40px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 20px;
}
img {
    width: 600px;
    height: 600px;
}
label {
    display: block;
    margin-top: 20px;
}
.normal {
    height: 20px;
    width: 100%;
    border: 1px solid #7a7a7a;
}

.button {
    background-color: indianred;
    border-radius: 5px;;
    color: white;
    height: 2.5rem;
    width: 8rem;
    text-align: center;
}


input[type="text"] {
    border: none;
    border-radius:5px;
    background-color:rgba(241,241,241,.98);
    margin: 20px 0;
    height: 40px;
    outline: none;
    width: 100%;
}
textarea {
    border: none;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, .98);
    resize: none;
    width: 100%;
    outline: none;
    margin: 20px 0;
}


/*尝试*/
